
body {
  font-family: 'Ubuntu Mono', monospace;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.7);
  background-image: url('circle-pattern.svg');
  background-repeat: repeat;
  margin: auto;
}
h1{
  font-weight: 700;
}

.shieldlogo,
.happy,
.hello {
  margin: 5px;
  padding: 10px;
}

.container {
  max-width: 800px;
  width: 80%;
  margin: 2em auto;
  padding: 1em 0;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0px 0px 10px 2px #333;
}

/* -- Hello 2-- */

#hello-2 {
 stroke: #000;
}

#Path-10 {
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
  animation: drawing 8s linear forwards .5s;
}


@keyframes drawing {
  100% {
    stroke-dashoffset: 0;
  }
}

/* -- Shield -- */
@keyframes width {
  0% {
    stroke-width: 0;
  }
  30% {
  stroke-width: 3;
 }
  60% {
   stroke-width: .5;
 }
}
@keyframes grow {
  50% {
    transform: scale(1.1);
    fill: red;
  }
}
@keyframes rotate {
  30% {
    transform: rotate(-270deg);
  }
  60% {
    transform: rotate(270deg);
  }
}

#OvalMain use {
  transform-origin: 50% 50%;
  animation: grow 1s ease-in 6s;
}
#Star-Ovals {
  transform-origin: 37px 36.5px;
  animation: rotate 1.5s ease-in-out 4s;
}
  /* small inner circles */
#Oval {
  transform-origin: 50% 50%;
}
#Oval:nth-of-type(1) {
  animation: grow 1s ease-out 5s;
}
#Oval:nth-of-type(2) {
  animation: grow 1s ease-out 5.5s;
}
#Oval:nth-of-type(3) {
  animation: grow 1s ease-out 5.1s;
}
#Oval:nth-of-type(4) {
  animation: grow 1s ease-out 5.7s;
}
#Oval:nth-of-type(5) {
  animation: grow 1s ease-out 5.3s;
}

/* -- Happy Face -- */

#head {
  stroke-dasharray: 590;
  stroke-width: 4;
  stroke-dashoffset: 590;
  fill: #fff;
  animation: offset 2s linear forwards 7s,
              fill-it .8s forwards 11.5s;
}

#eye {
  stroke-dasharray: 110;
  stroke-width: 4;
  fill: #fff;
  stroke-dashoffset: 110;
  animation: offset 2s linear forwards 8.5s;
}

#mouth {
  stroke-dasharray: 200;
  stroke-width: 4;
  fill: #fff;
  stroke-dashoffset: 200;
  animation: offset 2s linear forwards 9.5s;
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fill-it {
  100% {
    fill: #86BFF6;
  }
}

@media (min-width: 550px) {
  h1 {
    font-size: 3em;
  }
  .container {
    width: 60%;
    padding: 3em;
  }
  .shieldlogo,
  .happy,
  .hello {
    margin: 10px;
  }
}
