html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

h1 {
  color: #586570;
  margin-top: 1.5em;
  font-family: 'Alegreya', serif;
  font-weight: 700;
}

.title {
  margin-left: 2em;
}

.wrapper {
  height: 500px;
  width: 100%;
  margin-top: 3em;
  position: relative;
  overflow: hidden;
  background: #120103;
  text-align: center;
}

.controls {
  background: #586570;
  box-shadow: 0 3px 10px 5px #111;
  width: 100%;
  text-align: center;
}

.controls label {
  color: #9da4a9;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 20px 1em;
}

.controls label:hover {
  background: #2e353b;
}

.slide {
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 10;
  padding: 3em 1em 0;
  background: #120103;
  background-position: 50% 100%;
  background-size: cover;
  transition: left 0s .8s;
}

.slide-one {
  background-image: url('AvilaWall.jpg');
  background-color: red;
}

.slide-two {
  background-image: url('plaza-mayor-sm.jpg');
  background-color: green;
  background-position: bottom;
}

.slide-three {
  background-image: url('plasencia-wall-sm.jpg');
  background-color: blue;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .7s ease-out;
}

.slide h1 {
  font-size: 3em;
  margin-bottom: .5em;
  text-shadow: 2px 2px 5px #000;
}

.slide span {
  font-size: 1.5em;
  letter-spacing: .6px;
  text-shadow: 2px 2px 5px #000;
}

.slide h1,
.slide span {
  color: #fff;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity .5s, transform .5s .5s;
}

[id^="slide"]:checked + .slide h1,
[id^="slide"]:checked + .slide span {
  opacity: 1;
  transform: translateY(0);
  transition: all .5s .5s;
}
